#header,
#search-bar,
#current-status,
#action-button-groups{
    max-width: 80%;
    margin:50px auto;
    text-align: center;
}

#action-button-groups button{
    margin:0 10px;
    font-size:30px;
}

#current-status{
    display:none;
    background: pink;
    padding: 20px;
}

.navbar-nav {
    float:right;
}

.nav-item{
    margin-left:5px;
    margin-right: 5px;
}