<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ajax and jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{{url_for('static', filename='appointments.css')}}"/>
    <title>Available Appointments</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            {% if user %}
            <p class="navbar-text">{{user}}</p>
            <a class="nav-item navbar-text nav-link" href="logout">LOGOUT</a>
            {% else %}
            <a class="nav-item nav-link navbar-text active" href="login">LOGIN</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="highlight">
    <h2>Your Current Appointments are at:</h2>
    <table class="table table-borderless" id="my-appointment">
        <thead>
        <tr>
            <td>Location</td>
            <td>Date</td>
            <td>Time</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="list">
    <h1>Available Appointments</h1>

    <div class="filters form-inline">
        <select class="form-control" name="locations" id="location-select">
            <option value="">Location</option>
            {% for location in locations %}
            <option value="{{location}}">{{location}}</option>
            {% endfor %}
        </select>
        <!--    TODO default to today, and minimum selection should be today-->
        <input class="form-control" type="date" name="dates" id="date-select">
        <select class="form-control" name="timeslots" id="timeslot-select">
            <option value="">Time Slots</option>
            {% for time in times %}
            <option value="{{time}}">{{time}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit" id="submit-appointment" value="submit">Submit</button>
    </div>

    <div class="tables">
        <table class="table table-sm" id="available-appointments">
            <thead>
            <tr>
                <td>Select</td>
                <td>Location</td>
                <td>Date</td>
                <td>Time</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<script src="{{url_for('static', filename='appointments.js')}}"></script>

</body>
</html>